apiVersion: v1
kind: Service
metadata:
  name: go-server-service
  labels:
    app: go-server
spec:
  type: NodePort
  selector:
    app: go-server
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30002 # Used for external access to the service on this port of the node
