apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  labels:
    app: prometheus-server
spec:
  type: NodePort
  selector:
    app: prometheus-server
  ports:
    - port: 9090
      targetPort: 9090
      nodePort: 30000 # Used for external access to the service on this port of the node


# http://172.19.0.4:30000