apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  labels:
    app: prometheus-server
spec:
  type: NodePort
  selector:
    app: prometheus-server
  ports:
    - name: prometheus
      port: 9090
      targetPort: 9090
      nodePort: 30000
    
    - name: alertmanager
      port: 9093
      targetPort: 9093
      nodePort: 30001
