name: Test, Build, and Deploy

on:
  push:
    branches: [main]

permissions:
  contents: write
  
jobs:

  # Run tests
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.23'

      - name: Download dependencies
        run: go mod download

      - name: Run tests
        run: go test 

  # Build and push Docker image to Docker Hub
  build:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: | 
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/monitoring:latest .
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/monitoring:${{ github.sha }} .

        # DevSec: Use a specific version of the base image to avoid vulnerabilities
        # and ensure reproducible builds
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.33.1
        with:
          image-ref: ${{ secrets.DOCKERHUB_USERNAME }}/monitoring:${{ github.sha }}
          format: 'table'
          exit-code: '1'
          severity: 'CRITICAL,HIGH'

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker image
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/monitoring:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/monitoring:${{ github.sha

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to Kubernetes
        run: |
          echo "Deploying to Kubernetes..."